/* Remove default margin and padding */
*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* to give font all text */
body{
    font-family: 'Poppins',sans-serif;
}

/* To give img width  */
img{
    max-width: 100%;
}

/* To change all h tags into bold */
h2,h2,h3,h4,h5,h6{
    font-weight: bold;
}

/* The 'a' tag is always comes with underline */
a{
    text-decoration: none;
}

/* The unorder and order list had defaultly dot or numbers */
ul,ol{
    list-style: none;
}

/* style the header */
header{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

nav ul > li{
    display: inline;
    margin-left:1.25rem;
    font-size: 1.5rem;
}


h1{
    color: white;
    font-size: 1.5rem;
}

.nav__link{
    color: rgba(255,255,255,0.6);
}

.nav__link--active{
    color: #fff;

}

video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: -3;
    opacity:0.25;
}

main{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    background-color: #111;
    z-index:-1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    background-color: #78c3fb;
    mix-blend-mode: overlay;
    z-index: -2;
}

.text{
    padding: 0.8rem;
}

.text h2{
    font-size:2rem;
}

.text h3{
    line-height:1.5rem;
    font-size:2.5rem;
}

.text p{
    font-size:1.1rem;
    margin: 2rem 0;
    max-width: 45rem;

}

button{
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0.6rem 30px;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight:500;
    font-family: inherit;
    transition: all 0.3s;

}
.social-icons{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
}
.social-icons > li{
    margin-right: 1rem;
    filter:invert(1);
    transition: all 0.3s;
   
}

.social-icons > li >a > img {
    transform: scale(0.5);
}

button:hover{
    letter-spacing:5px ;
}

.social-icons > li:hover{
    transform:translateY(-5px);
}

.toggle{
    /* display: none; */
    background:url("https://i.ibb.co/HrfVRcx/menu.png");
    background-position:center;
    background-size:30px;
    width:30px;
    height:20px;
}

@media screen and (max-width:768px) {
    nav{
        display: none;
    }
    
}

@media screen and (min-width:768px){
    .toggle{
        display: none;
    }
}

